<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Arithmetic Expression Evaluation</title>
</head>
<body>
<center>
<form action="get_expression/" method="post">
    <h2>Enter Arithmetic Expression : </h2>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
This application supports + , - , * , /  operations. It also accepts ( and ) in proper nested format.

    </center>

<br/><br/><br/><br/>
<hr>
<center>
    Jay Patel(jay.p@nyu.edu)
    </center>

</body>
</html>